* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #1a1a1a;
    background: radial-gradient(circle, #222222 0%, #1f1f1f 8%, #131313 36%, rgb(15, 15, 15) 100%);
    overflow: hidden;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /*rotation can be added for additional affect
    animation: rotation 15s linear infinite;*/
  }
  
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    perspective: 25px;
  }
  
  .hole {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    background: transparent;
  }
  
  .space-bottom {
    position: absolute;
    width: 500px;
    height: 500px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: transparent;
    z-index: 2;
    transform: rotateX(-80deg) translateZ(250px);
  }
  
  .space-top {
    position: absolute;
    width: 500px;
    height: 500px;
    background: transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotateX(80deg) translateZ(250px);
  }
  
  .space-left {
    position: absolute;
    width: 500px;
    height: 500px;
    border: solid 0px;
    border-radius: 50%;
    transform: rotateY(-80deg) translateZ(250px);
  }
  
  .space-right {
    position: absolute;
    width: 500px;
    height: 500px;
    border: solid 0px;
    border-radius: 50%;
    transform: rotateY(80deg) translateZ(250px);
  }
  
  .star-top {
    position: absolute;
    left: 0px;
    width: 1px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    background: #96deff;
    box-shadow: 0 0 2px 1px rgb(255, 191, 250);
    -webkit-animation: stars 1.25s linear infinite;
            animation: stars 1.25s linear infinite;
  }
  .star-top:nth-child(1) {
    top: calc(50% - 160px);
    left: calc(80% - 149px);
    -webkit-animation-delay: 886ms;
            animation-delay: 886ms;
  }
  .star-top:nth-child(2) {
    top: calc(50% - -133px);
    left: calc(80% - 11px);
    -webkit-animation-delay: 2725ms;
            animation-delay: 2725ms;
  }
  .star-top:nth-child(3) {
    top: calc(50% - -189px);
    left: calc(80% - 254px);
    -webkit-animation-delay: 2946ms;
            animation-delay: 2946ms;
  }
  .star-top:nth-child(4) {
    top: calc(50% - -61px);
    left: calc(80% - 174px);
    -webkit-animation-delay: 952ms;
            animation-delay: 952ms;
  }
  .star-top:nth-child(5) {
    top: calc(50% - -2px);
    left: calc(80% - 191px);
    -webkit-animation-delay: 2011ms;
            animation-delay: 2011ms;
  }
  .star-top:nth-child(6) {
    top: calc(50% - 95px);
    left: calc(80% - 104px);
    -webkit-animation-delay: 4136ms;
            animation-delay: 4136ms;
  }
  .star-top:nth-child(7) {
    top: calc(50% - -45px);
    left: calc(80% - 111px);
    -webkit-animation-delay: 4971ms;
            animation-delay: 4971ms;
  }
  .star-top:nth-child(8) {
    top: calc(50% - 123px);
    left: calc(80% - 219px);
    -webkit-animation-delay: 1813ms;
            animation-delay: 1813ms;
  }
  .star-top:nth-child(9) {
    top: calc(50% - -91px);
    left: calc(80% - 146px);
    -webkit-animation-delay: 2207ms;
            animation-delay: 2207ms;
  }
  .star-top:nth-child(10) {
    top: calc(50% - 183px);
    left: calc(80% - 222px);
    -webkit-animation-delay: 329ms;
            animation-delay: 329ms;
  }
  .star-top:nth-child(11) {
    top: calc(50% - 33px);
    left: calc(80% - 31px);
    -webkit-animation-delay: 3401ms;
            animation-delay: 3401ms;
  }
  .star-top:nth-child(12) {
    top: calc(50% - -60px);
    left: calc(80% - 73px);
    -webkit-animation-delay: 3996ms;
            animation-delay: 3996ms;
  }
  .star-top:nth-child(13) {
    top: calc(50% - -58px);
    left: calc(80% - 29px);
    -webkit-animation-delay: 670ms;
            animation-delay: 670ms;
  }
  .star-top:nth-child(14) {
    top: calc(50% - 35px);
    left: calc(80% - 131px);
    -webkit-animation-delay: 104ms;
            animation-delay: 104ms;
  }
  .star-top:nth-child(15) {
    top: calc(50% - -6px);
    left: calc(80% - 235px);
    -webkit-animation-delay: 3991ms;
            animation-delay: 3991ms;
  }
  .star-top:nth-child(16) {
    top: calc(50% - 143px);
    left: calc(80% - 47px);
    -webkit-animation-delay: 34ms;
            animation-delay: 34ms;
  }
  .star-top:nth-child(17) {
    top: calc(50% - 143px);
    left: calc(80% - 41px);
    -webkit-animation-delay: 3040ms;
            animation-delay: 3040ms;
  }
  .star-top:nth-child(18) {
    top: calc(50% - 149px);
    left: calc(80% - 165px);
    -webkit-animation-delay: 2515ms;
            animation-delay: 2515ms;
  }
  .star-top:nth-child(19) {
    top: calc(50% - 144px);
    left: calc(80% - 114px);
    -webkit-animation-delay: 3297ms;
            animation-delay: 3297ms;
  }
  .star-top:nth-child(20) {
    top: calc(50% - 165px);
    left: calc(80% - 151px);
    -webkit-animation-delay: 3280ms;
            animation-delay: 3280ms;
  }
  .star-top:nth-child(21) {
    top: calc(50% - -77px);
    left: calc(80% - 262px);
    -webkit-animation-delay: 2262ms;
            animation-delay: 2262ms;
  }
  .star-top:nth-child(22) {
    top: calc(50% - 62px);
    left: calc(80% - 144px);
    -webkit-animation-delay: 1807ms;
            animation-delay: 1807ms;
  }
  .star-top:nth-child(23) {
    top: calc(50% - -63px);
    left: calc(80% - 76px);
    -webkit-animation-delay: 2117ms;
            animation-delay: 2117ms;
  }
  .star-top:nth-child(24) {
    top: calc(50% - 3px);
    left: calc(80% - 284px);
    -webkit-animation-delay: 1100ms;
            animation-delay: 1100ms;
  }
  .star-top:nth-child(25) {
    top: calc(50% - 21px);
    left: calc(80% - 159px);
    -webkit-animation-delay: 1696ms;
            animation-delay: 1696ms;
  }
  .star-top:nth-child(26) {
    top: calc(50% - -40px);
    left: calc(80% - 183px);
    -webkit-animation-delay: 4248ms;
            animation-delay: 4248ms;
  }
  .star-top:nth-child(27) {
    top: calc(50% - -15px);
    left: calc(80% - 136px);
    -webkit-animation-delay: 4487ms;
            animation-delay: 4487ms;
  }
  .star-top:nth-child(28) {
    top: calc(50% - -198px);
    left: calc(80% - 50px);
    -webkit-animation-delay: 3334ms;
            animation-delay: 3334ms;
  }
  .star-top:nth-child(29) {
    top: calc(50% - -185px);
    left: calc(80% - 175px);
    -webkit-animation-delay: 963ms;
            animation-delay: 963ms;
  }
  .star-top:nth-child(30) {
    top: calc(50% - 198px);
    left: calc(80% - 42px);
    -webkit-animation-delay: 4392ms;
            animation-delay: 4392ms;
  }
  
  .star-bottom {
    position: absolute;
    left: 0px;
    width: 1px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    background: #5729ff;
    box-shadow: 0 0 2px 1px Green;
    animation: stars 1.25s linear infinite reverse;
  }
  .star-bottom:nth-child(1) {
    top: calc(20% - 64px);
    left: calc(80% - 162px);
    -webkit-animation-delay: 934ms;
            animation-delay: 934ms;
  }
  .star-bottom:nth-child(2) {
    top: calc(20% - 146px);
    left: calc(80% - 134px);
    -webkit-animation-delay: 1900ms;
            animation-delay: 1900ms;
  }
  .star-bottom:nth-child(3) {
    top: calc(20% - 112px);
    left: calc(80% - 185px);
    -webkit-animation-delay: 4584ms;
            animation-delay: 4584ms;
  }
  .star-bottom:nth-child(4) {
    top: calc(20% - 174px);
    left: calc(80% - 34px);
    -webkit-animation-delay: 1073ms;
            animation-delay: 1073ms;
  }
  .star-bottom:nth-child(5) {
    top: calc(20% - 58px);
    left: calc(80% - 253px);
    -webkit-animation-delay: 837ms;
            animation-delay: 837ms;
  }
  .star-bottom:nth-child(6) {
    top: calc(20% - -168px);
    left: calc(80% - 257px);
    -webkit-animation-delay: 2026ms;
            animation-delay: 2026ms;
  }
  .star-bottom:nth-child(7) {
    top: calc(20% - -158px);
    left: calc(80% - 299px);
    -webkit-animation-delay: 4915ms;
            animation-delay: 4915ms;
  }
  .star-bottom:nth-child(8) {
    top: calc(20% - 189px);
    left: calc(80% - 39px);
    -webkit-animation-delay: 1385ms;
            animation-delay: 1385ms;
  }
  .star-bottom:nth-child(9) {
    top: calc(20% - -3px);
    left: calc(80% - 288px);
    -webkit-animation-delay: 1613ms;
            animation-delay: 1613ms;
  }
  .star-bottom:nth-child(10) {
    top: calc(20% - -26px);
    left: calc(80% - 7px);
    -webkit-animation-delay: 1866ms;
            animation-delay: 1866ms;
  }
  .star-bottom:nth-child(11) {
    top: calc(20% - -107px);
    left: calc(80% - 221px);
    -webkit-animation-delay: 4468ms;
            animation-delay: 4468ms;
  }
  .star-bottom:nth-child(12) {
    top: calc(20% - 51px);
    left: calc(80% - 15px);
    -webkit-animation-delay: 3940ms;
            animation-delay: 3940ms;
  }
  .star-bottom:nth-child(13) {
    top: calc(20% - 160px);
    left: calc(80% - 264px);
    -webkit-animation-delay: 3545ms;
            animation-delay: 3545ms;
  }
  .star-bottom:nth-child(14) {
    top: calc(20% - -108px);
    left: calc(80% - 223px);
    -webkit-animation-delay: 3212ms;
            animation-delay: 3212ms;
  }
  .star-bottom:nth-child(15) {
    top: calc(20% - -198px);
    left: calc(80% - 143px);
    -webkit-animation-delay: 4804ms;
            animation-delay: 4804ms;
  }
  .star-bottom:nth-child(16) {
    top: calc(20% - -29px);
    left: calc(80% - 73px);
    -webkit-animation-delay: 4379ms;
            animation-delay: 4379ms;
  }
  .star-bottom:nth-child(17) {
    top: calc(20% - -177px);
    left: calc(80% - 275px);
    -webkit-animation-delay: 4229ms;
            animation-delay: 4229ms;
  }
  .star-bottom:nth-child(18) {
    top: calc(20% - -19px);
    left: calc(80% - 274px);
    -webkit-animation-delay: 626ms;
            animation-delay: 626ms;
  }
  .star-bottom:nth-child(19) {
    top: calc(20% - -122px);
    left: calc(80% - 290px);
    -webkit-animation-delay: 241ms;
            animation-delay: 241ms;
  }
  .star-bottom:nth-child(20) {
    top: calc(20% - -10px);
    left: calc(80% - 184px);
    -webkit-animation-delay: 2313ms;
            animation-delay: 2313ms;
  }
  .star-bottom:nth-child(21) {
    top: calc(20% - 78px);
    left: calc(80% - 261px);
    -webkit-animation-delay: 2623ms;
            animation-delay: 2623ms;
  }
  .star-bottom:nth-child(22) {
    top: calc(20% - 141px);
    left: calc(80% - 168px);
    -webkit-animation-delay: 2250ms;
            animation-delay: 2250ms;
  }
  .star-bottom:nth-child(23) {
    top: calc(20% - -180px);
    left: calc(80% - 188px);
    -webkit-animation-delay: 4176ms;
            animation-delay: 4176ms;
  }
  .star-bottom:nth-child(24) {
    top: calc(20% - 155px);
    left: calc(80% - 129px);
    -webkit-animation-delay: 2660ms;
            animation-delay: 2660ms;
  }
  .star-bottom:nth-child(25) {
    top: calc(20% - 92px);
    left: calc(80% - 158px);
    -webkit-animation-delay: 349ms;
            animation-delay: 349ms;
  }
  .star-bottom:nth-child(26) {
    top: calc(20% - -14px);
    left: calc(80% - 193px);
    -webkit-animation-delay: 2327ms;
            animation-delay: 2327ms;
  }
  .star-bottom:nth-child(27) {
    top: calc(20% - -110px);
    left: calc(80% - 5px);
    -webkit-animation-delay: 1954ms;
            animation-delay: 1954ms;
  }
  .star-bottom:nth-child(28) {
    top: calc(20% - 197px);
    left: calc(80% - 143px);
    -webkit-animation-delay: 4927ms;
            animation-delay: 4927ms;
  }
  .star-bottom:nth-child(29) {
    top: calc(20% - -98px);
    left: calc(80% - 251px);
    -webkit-animation-delay: 3985ms;
            animation-delay: 3985ms;
  }
  .star-bottom:nth-child(30) {
    top: calc(20% - -128px);
    left: calc(80% - 77px);
    -webkit-animation-delay: 4516ms;
            animation-delay: 4516ms;
  }
  
  .star-left {
    position: absolute;
    width: 20px;
    height: 1px;
    opacity: 0;
    border-radius: 50%;
    background: #5729ff;
    box-shadow: 0 0 2px 1px Green;
    animation: stars2 1.25s linear infinite reverse;
  }
  .star-left:nth-child(1) {
    top: calc(50% - 24px);
    left: calc(100% - 130px);
    -webkit-animation-delay: 15ms;
            animation-delay: 15ms;
  }
  .star-left:nth-child(2) {
    top: calc(50% - 138px);
    left: calc(100% - 65px);
    -webkit-animation-delay: 2200ms;
            animation-delay: 2200ms;
  }
  .star-left:nth-child(3) {
    top: calc(50% - 162px);
    left: calc(100% - 125px);
    -webkit-animation-delay: 214ms;
            animation-delay: 214ms;
  }
  .star-left:nth-child(4) {
    top: calc(50% - 12px);
    left: calc(100% - 171px);
    -webkit-animation-delay: 661ms;
            animation-delay: 661ms;
  }
  .star-left:nth-child(5) {
    top: calc(50% - -43px);
    left: calc(100% - 43px);
    -webkit-animation-delay: 4342ms;
            animation-delay: 4342ms;
  }
  .star-left:nth-child(6) {
    top: calc(50% - 197px);
    left: calc(100% - 185px);
    -webkit-animation-delay: 4684ms;
            animation-delay: 4684ms;
  }
  .star-left:nth-child(7) {
    top: calc(50% - 176px);
    left: calc(100% - 111px);
    -webkit-animation-delay: 2939ms;
            animation-delay: 2939ms;
  }
  .star-left:nth-child(8) {
    top: calc(50% - 142px);
    left: calc(100% - 37px);
    -webkit-animation-delay: 2266ms;
            animation-delay: 2266ms;
  }
  .star-left:nth-child(9) {
    top: calc(50% - -10px);
    left: calc(100% - 153px);
    -webkit-animation-delay: 614ms;
            animation-delay: 614ms;
  }
  .star-left:nth-child(10) {
    top: calc(50% - 169px);
    left: calc(100% - 29px);
    -webkit-animation-delay: 4569ms;
            animation-delay: 4569ms;
  }
  .star-left:nth-child(11) {
    top: calc(50% - 67px);
    left: calc(100% - 69px);
    -webkit-animation-delay: 4661ms;
            animation-delay: 4661ms;
  }
  .star-left:nth-child(12) {
    top: calc(50% - -154px);
    left: calc(100% - 63px);
    -webkit-animation-delay: 956ms;
            animation-delay: 956ms;
  }
  .star-left:nth-child(13) {
    top: calc(50% - 170px);
    left: calc(100% - 6px);
    -webkit-animation-delay: 3488ms;
            animation-delay: 3488ms;
  }
  .star-left:nth-child(14) {
    top: calc(50% - -164px);
    left: calc(100% - 84px);
    -webkit-animation-delay: 757ms;
            animation-delay: 757ms;
  }
  .star-left:nth-child(15) {
    top: calc(50% - 173px);
    left: calc(100% - 185px);
    -webkit-animation-delay: 2664ms;
            animation-delay: 2664ms;
  }
  .star-left:nth-child(16) {
    top: calc(50% - -189px);
    left: calc(100% - 184px);
    -webkit-animation-delay: 2427ms;
            animation-delay: 2427ms;
  }
  .star-left:nth-child(17) {
    top: calc(50% - -152px);
    left: calc(100% - 76px);
    -webkit-animation-delay: 3350ms;
            animation-delay: 3350ms;
  }
  .star-left:nth-child(18) {
    top: calc(50% - 160px);
    left: calc(100% - 136px);
    -webkit-animation-delay: 2107ms;
            animation-delay: 2107ms;
  }
  .star-left:nth-child(19) {
    top: calc(50% - 69px);
    left: calc(100% - 163px);
    -webkit-animation-delay: 4713ms;
            animation-delay: 4713ms;
  }
  .star-left:nth-child(20) {
    top: calc(50% - -75px);
    left: calc(100% - 38px);
    -webkit-animation-delay: 4493ms;
            animation-delay: 4493ms;
  }
  .star-left:nth-child(21) {
    top: calc(50% - 109px);
    left: calc(100% - 196px);
    -webkit-animation-delay: 4982ms;
            animation-delay: 4982ms;
  }
  .star-left:nth-child(22) {
    top: calc(50% - 134px);
    left: calc(100% - 52px);
    -webkit-animation-delay: 1098ms;
            animation-delay: 1098ms;
  }
  .star-left:nth-child(23) {
    top: calc(50% - -80px);
    left: calc(100% - 31px);
    -webkit-animation-delay: 3806ms;
            animation-delay: 3806ms;
  }
  .star-left:nth-child(24) {
    top: calc(50% - -22px);
    left: calc(100% - 14px);
    -webkit-animation-delay: 3700ms;
            animation-delay: 3700ms;
  }
  .star-left:nth-child(25) {
    top: calc(50% - -111px);
    left: calc(100% - 23px);
    -webkit-animation-delay: 669ms;
            animation-delay: 669ms;
  }
  .star-left:nth-child(26) {
    top: calc(50% - 175px);
    left: calc(100% - 77px);
    -webkit-animation-delay: 4275ms;
            animation-delay: 4275ms;
  }
  .star-left:nth-child(27) {
    top: calc(50% - -80px);
    left: calc(100% - 113px);
    -webkit-animation-delay: 4762ms;
            animation-delay: 4762ms;
  }
  .star-left:nth-child(28) {
    top: calc(50% - -46px);
    left: calc(100% - 60px);
    -webkit-animation-delay: 1035ms;
            animation-delay: 1035ms;
  }
  .star-left:nth-child(29) {
    top: calc(50% - 38px);
    left: calc(100% - 156px);
    -webkit-animation-delay: 4540ms;
            animation-delay: 4540ms;
  }
  .star-left:nth-child(30) {
    top: calc(50% - -53px);
    left: calc(100% - 91px);
    -webkit-animation-delay: 3448ms;
            animation-delay: 3448ms;
  }
  
  .star-right {
    position: absolute;
    top: 0px;
    width: 20px;
    height: 1px;
    opacity: 0;
    border-radius: 50%;
    background: #5729ff;
    box-shadow: 0 0 2px 1px Green;
    -webkit-animation: stars2 1.25s linear infinite;
            animation: stars2 1.25s linear infinite;
  }
  .star-right:nth-child(1) {
    top: calc(50% - 150px);
    left: calc(90% - 107px);
    -webkit-animation-delay: 2150ms;
            animation-delay: 2150ms;
  }
  .star-right:nth-child(2) {
    top: calc(50% - -48px);
    left: calc(90% - 62px);
    -webkit-animation-delay: 763ms;
            animation-delay: 763ms;
  }
  .star-right:nth-child(3) {
    top: calc(50% - -129px);
    left: calc(90% - 40px);
    -webkit-animation-delay: 696ms;
            animation-delay: 696ms;
  }
  .star-right:nth-child(4) {
    top: calc(50% - -154px);
    left: calc(90% - 215px);
    -webkit-animation-delay: 1569ms;
            animation-delay: 1569ms;
  }
  .star-right:nth-child(5) {
    top: calc(50% - 158px);
    left: calc(90% - 21px);
    -webkit-animation-delay: 396ms;
            animation-delay: 396ms;
  }
  .star-right:nth-child(6) {
    top: calc(50% - -171px);
    left: calc(90% - 281px);
    -webkit-animation-delay: 4571ms;
            animation-delay: 4571ms;
  }
  .star-right:nth-child(7) {
    top: calc(50% - -58px);
    left: calc(90% - 60px);
    -webkit-animation-delay: 124ms;
            animation-delay: 124ms;
  }
  .star-right:nth-child(8) {
    top: calc(50% - -189px);
    left: calc(90% - 162px);
    -webkit-animation-delay: 1947ms;
            animation-delay: 1947ms;
  }
  .star-right:nth-child(9) {
    top: calc(50% - -169px);
    left: calc(90% - 70px);
    -webkit-animation-delay: 659ms;
            animation-delay: 659ms;
  }
  .star-right:nth-child(10) {
    top: calc(50% - 112px);
    left: calc(90% - 266px);
    -webkit-animation-delay: 2254ms;
            animation-delay: 2254ms;
  }
  .star-right:nth-child(11) {
    top: calc(50% - 174px);
    left: calc(90% - 288px);
    -webkit-animation-delay: 1284ms;
            animation-delay: 1284ms;
  }
  .star-right:nth-child(12) {
    top: calc(50% - 95px);
    left: calc(90% - 289px);
    -webkit-animation-delay: 1120ms;
            animation-delay: 1120ms;
  }
  .star-right:nth-child(13) {
    top: calc(50% - 15px);
    left: calc(90% - 48px);
    -webkit-animation-delay: 502ms;
            animation-delay: 502ms;
  }
  .star-right:nth-child(14) {
    top: calc(50% - 111px);
    left: calc(90% - 58px);
    -webkit-animation-delay: 3694ms;
            animation-delay: 3694ms;
  }
  .star-right:nth-child(15) {
    top: calc(50% - -41px);
    left: calc(90% - 170px);
    -webkit-animation-delay: 1549ms;
            animation-delay: 1549ms;
  }
  .star-right:nth-child(16) {
    top: calc(50% - 44px);
    left: calc(90% - 36px);
    -webkit-animation-delay: 4049ms;
            animation-delay: 4049ms;
  }
  .star-right:nth-child(17) {
    top: calc(50% - -163px);
    left: calc(90% - 95px);
    -webkit-animation-delay: 3408ms;
            animation-delay: 3408ms;
  }
  .star-right:nth-child(18) {
    top: calc(50% - 47px);
    left: calc(90% - 243px);
    -webkit-animation-delay: 1959ms;
            animation-delay: 1959ms;
  }
  .star-right:nth-child(19) {
    top: calc(50% - -161px);
    left: calc(90% - 152px);
    -webkit-animation-delay: 2247ms;
            animation-delay: 2247ms;
  }
  .star-right:nth-child(20) {
    top: calc(50% - -89px);
    left: calc(90% - 275px);
    -webkit-animation-delay: 2050ms;
            animation-delay: 2050ms;
  }
  .star-right:nth-child(21) {
    top: calc(50% - 151px);
    left: calc(90% - 73px);
    -webkit-animation-delay: 3013ms;
            animation-delay: 3013ms;
  }
  .star-right:nth-child(22) {
    top: calc(50% - -18px);
    left: calc(90% - 63px);
    -webkit-animation-delay: 4182ms;
            animation-delay: 4182ms;
  }
  .star-right:nth-child(23) {
    top: calc(50% - -140px);
    left: calc(90% - 158px);
    -webkit-animation-delay: 3735ms;
            animation-delay: 3735ms;
  }
  .star-right:nth-child(24) {
    top: calc(50% - -117px);
    left: calc(90% - 254px);
    -webkit-animation-delay: 289ms;
            animation-delay: 289ms;
  }
  .star-right:nth-child(25) {
    top: calc(50% - -103px);
    left: calc(90% - 222px);
    -webkit-animation-delay: 3060ms;
            animation-delay: 3060ms;
  }
  .star-right:nth-child(26) {
    top: calc(50% - -137px);
    left: calc(90% - 133px);
    -webkit-animation-delay: 4174ms;
            animation-delay: 4174ms;
  }
  .star-right:nth-child(27) {
    top: calc(50% - -44px);
    left: calc(90% - 171px);
    -webkit-animation-delay: 4436ms;
            animation-delay: 4436ms;
  }
  .star-right:nth-child(28) {
    top: calc(50% - -98px);
    left: calc(90% - 249px);
    -webkit-animation-delay: 163ms;
            animation-delay: 163ms;
  }
  .star-right:nth-child(29) {
    top: calc(50% - -164px);
    left: calc(90% - 197px);
    -webkit-animation-delay: 747ms;
            animation-delay: 747ms;
  }
  .star-right:nth-child(30) {
    top: calc(50% - -144px);
    left: calc(90% - 15px);
    -webkit-animation-delay: 4402ms;
            animation-delay: 4402ms;
  }
  
  /*second container for 50px perspective*/
  .container2 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .wrapper2 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    perspective: 50px;
  }
  
  .hole2 {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    background: transparent;
  }
  
  /*third container for 100px perspective*/
  .container3 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .wrapper3 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    perspective: 100px;
  }
  
  .hole3 {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    background: transparent;
  }
  
  /*fourth container for 125px perspective*/
  .container4 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  
  .wrapper4 {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    perspective: 125px;
  }
  
  .hole4 {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    background: transparent;
  }
  
  @-webkit-keyframes stars {
    0% {
      opacity: 1;
      transform: translatex(0px) translatey(0xp) translatez(0px);
    }
    100% {
      opacity: 1;
      transform: translatex(25px) translatey(250px) translatez(-1000px);
    }
  }
  
  @keyframes stars {
    0% {
      opacity: 1;
      transform: translatex(0px) translatey(0xp) translatez(0px);
    }
    100% {
      opacity: 1;
      transform: translatex(25px) translatey(250px) translatez(-1000px);
    }
  }
  @-webkit-keyframes stars2 {
    0% {
      opacity: 1;
      transform: translatex(0px) translatey(0xp) translatez(0px);
    }
    100% {
      opacity: 1;
      transform: translatex(-250px) translatey(25px) translatez(-1000px);
    }
  }
  @keyframes stars2 {
    0% {
      opacity: 1;
      transform: translatex(0px) translatey(0xp) translatez(0px);
    }
    100% {
      opacity: 1;
      transform: translatex(-250px) translatey(25px) translatez(-1000px);
    }
  }
  @-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }